#card{
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 1px;
  background-color: #f9ffff;
  border-radius: 5%;
}

#text{

  margin: 10px;
  //para hacer el efecto "card"
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  //tamaños minimo y maximo de la card
   min-width: 15vw;
   max-width: 30vw;
   min-height: 15vh;
   max-height: 30vh;
   //color de fondo
  background-color: #f9ffff;
}