@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
@import "./clear.css";
@import "./card.scss";

$letrita: "Roboto", Arial;
$prim: #0069c0;
$sec: white;
$button: white;
$dev: false;

#container-3 {
    background-color: #d3d4d4;
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: top;
}

#CFG-Container{
  display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: top;
  max-width: 80vw;
  align-self: center;
  margin-left: 8vh;
}

#cards-CFG {
  @extend #text;
  flex-grow: 1;
  flex-shrink: 1;
   background-color: #fffdfd;
  }

  #menu-cfg {
    
    @if $dev == true{
     border: 2px dashed #428cd1;
     background-color: lightyellow;
    }
    background: $sec;
    width: 80vw !important;
    height: 8vh;
    font-family: $letrita;
    border-radius: 18px;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10vh;
    margin-top: 8px;
    &-item {
      border-radius: 10px;
      background: $button;
      padding: 10px;
      margin-left: 15px;
      align-self: left;

      &-icon{
        vertical-align:middle;
        align-content: left;
        padding-left: 10px;
        padding-right: 10px;
      }

      &-active{
        @extend #menu-cfg-item;
        color: #428cd1;
      }
     
    }
    &-item:hover {
      background: #bbdefb;
    }
  }