@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
//@import "./clear.css";
@import "./card.scss";

$letrita: "Roboto", Arial;
$prim: #0069c0;
$sec: white;
$button: white;
$dev: false;

#INF-Container{
  max-width: 80vw;
}


#table-INF{
 table {
  width: 97%;
  font-family: $letrita;
  border-collapse: collapse;
  vertical-align: middle;
  border: 1px solid black;
 }

 th,td{
   padding: 15px; //asi centro el texto
 }

 tr{
    height: 50px;
  }
  tr:nth-child(even) { //para cambiar el fondo en las filas pares
    background-color: #d6d6d6;
  }
 tr:hover { //para el efecto, dejar a lo ultimo asi no clavo un !important al pedo
   background-color: #92cbf1 ;
  }
  

}

#cards-INF {
  @extend #text;
  max-width: 60vw;
  max-height: 50vh;
  background-color: #fffdfd;
  margin-left: auto;
  margin-right: auto;
  padding-block: 25px;
  @extend #table-INF;
  &-cnt {
      margin-left: 1.5vw;
  }
}
